@charset "UTF-8"; 
*{list-style: none; margin: 0; padding: 0;}
html{font-size: 10px;}
a, p, div, li, span, h1, h2, h3, h4, h5, h6, label, button, input{
    font-family: 'Montserrat', sans-serif; font-family: 'Noto Sans KR', sans-serif; letter-spacing: .3px;
    color: #161616; font-size: 1.4rem; font-weight: 700;}
p, label{font-weight: 500;}
input::placeholder{
    font-size: 1.4rem; color: #6f6f6f; font-weight: normal; letter-spacing: .3px;}
.message{letter-spacing: .26px;}
h2{letter-spacing: .43px;}
input, a{font-weight: normal;}
a{text-decoration: none;}
*:focus{outline: none;}
button{border: none;}
input{-webkit-appearance: none;}

body{width: 100%;}

#wrap{
    max-width: 600px; min-width: 300px;
    margin: 0 auto; height: 100vh;}
header{height: 50px; width: 100%;}
header button{
    width: 48px; height: 48px; border: none;
    display: flex; justify-content: center; align-items: center;
    margin: 1px 4px; background: none;}
header img{width: 24px; height: 24px;}

.content{width: 92%; margin: 0 auto; position: relative; height: 100vh;}
.content >p{font-size: 1.4rem;}

.logo-wrap{display: flex; align-items: flex-end; margin: 8px 0;}
.logo-wrap h1{font-size: 4rem;}
.logo-wrap h2{font-size: 2rem;}
.logo-wrap p{
    font-size: 1.2rem; color: #e94757; margin-left: 8px;
    text-transform: capitalize; font-weight: 700;}

.form-box{margin-top: 40px;}
.form-box *{display: block;}
.form-box label{display: flex;}
.input-basic{
    border: 1px solid #dfdfdf; border-radius: 4px;
    width: 100%; height: 46px; margin-top: 8px; 
    padding: 11px 8px; box-sizing: border-box;
    font-size: 1.6rem; font-weight: 700;}

label >span{color: #161616; font-size: 1.4rem; font-weight: 500;}

form{position: relative;}

form.success button, form.filled button, form.pw-veiw button, 
form.pw-hide button, form.error button{
    position: absolute; bottom: 9px; right: 8px;
    background: url(./img/02-icon-01-outline-exclamation-circle.svg) no-repeat 0 0;
    width: 24px; height: 24px;}
form .message{
    width: 100%; height: 18px; font-size: 1.2rem; font-weight: normal;
    position: absolute; bottom: -22px; left: 0;}

form.error input{border: 1px solid #d32f2f;}
.form-box form.error .message{color: #d32f2f; display: block;}

form.success button{
    background: url(./img/02-icon-01-outline-check.svg); display: block}
form.filled button{
    background: url(./img/02-icon-02-solid-times-circle.svg); display: block;}
form.pw-veiw button{background: url(./img/02-icon-02-solid-eye.svg); display: block;}
form.pw-hide button{background: url(./img/02-icon-02-solid-eye-slash.svg); display: block;}
form.selected input{border: 1px solid #555;}

.check-circle label{display: flex; align-items: center; margin-top: 32px;}
.check-circle input[type=checkbox]{display: none;}
.check-circle input[type=checkbox] + label::before{
    display: inline-block; content: "";
    width: 24px; height: 24px; margin-right: 4px;
    background: url(./img/02-icon-02-solid-check-circle.svg) no-repeat;}
.check-circle input[type=checkbox]:checked + label::before{
    background: url(./img/02-icon-02-solid-check-circle-color.svg) no-repeat;}
.check-circle.square input[type=checkbox] + label::before{
    background: url(./img/02-icon-01-outline-square.svg) no-repeat;}
.check-circle.square input[type=checkbox]:checked + label::before{
    background: url(./img/02-icon-02-solid-check-square.svg) no-repeat;}
.btn-wrap{
    margin-top: 46px;
    display: flex; justify-content: space-between; align-items: center;}
.btn-wrap  a{font-size: 1.4rem;}
.btn-basic{
    height: 48px; background: #dfdfdf;
    color: #fff; border-radius: 4px; border: none;}
.btn-basic:hover{box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);}
.btn-basic:active{background: #141414;}
.btn-basic.enable{background: #242424;}
.btn-basic.next{width: 120px;}

.form-box .certification-box{
    width: 100px; height: 44px; background: #fff;
    border: 1px solid #8b8b8b; border-radius: 4px;
    display: block; position: static; background: none;
    color: #8b8b8b;}
.form-box .certification-box ~ .message{color: #e94757}

.login-google{display: flex; justify-content: center; align-items: center;}
.login-google img{margin-top: 4px;}

.btn-purple{
    width: 100%; height: 48px; border: 1px solid #543dab;
    color: #543dab; font-size: 1.6rem; text-align: center;
    background: none; border-radius: 4px; background: #fff;
    box-sizing: border-box; font-weight: 700; margin-top: 24px;}
.btn-purple.fix-bottom{position: absolute; bottom: 83px; left: 0;}

.btn-purple:hover{background-color: rgba(75, 46, 137, 0.1);}
.btn-purple:active{background-color: rgba(75, 46, 137, 0.2);}
.btn-purple.enable{border: 1px solid #8b8b8b; color: #8b8b8b;}

.card-wrap >.card:first-child{margin-top: 16px;}
.card{
    width: 100%; height: 168px; border-radius: 6px; position: relative;
    background-image: linear-gradient(116deg, #16222a, #3a6073 100%);
    padding: 16px; box-sizing: border-box; margin-top: 8px;
    display: flex; flex-direction: column; justify-content: space-between;}
.card h3{font-size: 2.4rem; letter-spacing: .5px; color: #fff;}
.card p{color: #fff;}
.card button{position: absolute; top: 8px; right: 8px;}
.card button:active .card{box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.3);}
