@charset "UTF-8"; 
*{list-style: none; margin: 0; padding: 0;}
html{font-size: 10px;}
a, p, div, li, span, h1, h2, h3, h4, h5, h6, label, button, input{
    font-family: 'Montserrat','Noto Sans KR', sans-serif; letter-spacing: .3px;
    color: #161616; font-size: 1.4rem; font-weight: 700;}
p, label{font-weight: 500;}
input::placeholder{
    font-size: 1.4rem; color: #6f6f6f; font-weight: normal; letter-spacing: .3px;}
.message{letter-spacing: .26px;}
h2{letter-spacing: .43px;}
input, a{font-weight: normal;}
a{text-decoration: none;}
*:focus, textarea{outline: none;}
button{border: none;}
input{-webkit-appearance: none;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; margin: 0;}

body{width: 100%;}

#wrap{
    max-width: 600px; min-width: 300px;
    margin: 0 auto; height: 100vh;}
header{height: 50px; width: 100%;}
header button{
    width: 48px; height: 48px; border: none;
    display: flex; justify-content: center; align-items: center;
    margin: 1px 4px; background: none;}
header img{width: 24px; height: 24px;}

.content{width: 92%; margin: 0 auto; position: relative; height: calc(100vh - 59px);}

.logo-wrap{display: flex; align-items: flex-end; margin: 8px 0;}
.logo-wrap h1{font-size: 4rem;}
.logo-wrap h2{font-size: 2rem;}
.logo-wrap p{
    font-size: 1.2rem; color: #e94757; margin-left: 8px;
    text-transform: capitalize; font-weight: 700;}

.content >p{font-size: 1.4rem;}

.form-box{margin-top: 40px;}
.form-box *{display: block;}
.form-box label{display: flex;}
.input-basic{
    border: 1px solid #dfdfdf; border-radius: 4px;
    width: 100%; height: 42px; margin-top: 8px; 
    padding: 11px 8px; box-sizing: border-box;
    font-size: 1.6rem; font-weight: 700;}

label >span{color: #161616; font-size: 1.4rem; font-weight: 500;}

form{position: relative;}

form.success button, form.filled button, form.pw-veiw button, 
form.pw-hide button, form.error button{
    position: absolute; bottom: 9px; right: 8px;
    background: url(img/02-icon-01-outline-exclamation-circle.svg) no-repeat 0 0;
    width: 24px; height: 24px;}
form .message{
    width: 100%; height: 18px; font-size: 1.2rem; font-weight: normal;
    position: absolute; bottom: -22px; left: 0; display: none;}

form.error input{border: 1px solid #d32f2f;}
.form-box form.error .message{color: #d32f2f; display: block;}

form.success button{
    background: url(img/02-icon-01-outline-check.svg); display: block}
form.filled button{
    background: url(img/02-icon-02-solid-times-circle.svg); display: block;}
form.pw-veiw button{background: url(img/02-icon-02-solid-eye.svg); display: block;}
form.pw-hide button{background: url(img/02-icon-02-solid-eye-slash.svg); display: block;}
form.selected input{border: 1px solid #555;}

.check-circle label{display: flex; align-items: center; margin-top: 32px;}
.check-circle input[type=checkbox]{display: none;}
.check-circle input[type=checkbox] + label::before{
    display: inline-block; content: "";
    width: 24px; height: 24px; margin-right: 4px;
    background: url(img/02-icon-02-solid-check-circle.svg) no-repeat;}
.check-circle input[type=checkbox]:checked + label::before{
    background: url(img/02-icon-02-solid-check-circle-color.svg) no-repeat;}
.check-circle.square input[type=checkbox] + label::before{
    background: url(img/02-icon-01-outline-square.svg) no-repeat;}
.check-circle.square input[type=checkbox]:checked + label::before{
    background: url(img/02-icon-02-solid-check-square.svg) no-repeat;}
.btn-wrap{
    margin-top: 46px;
    display: flex; justify-content: flex-end; align-items: center;}
.btn-wrap a{font-size: 1.4rem;}
.btn-basic{
    height: 48px; background: #dfdfdf;
    color: #fff; border-radius: 4px; border: none;}
.btn-basic.enable{background: #242424;}
.btn-basic.enable:hover{box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);}
.btn-basic.enable:active{background: #141414;}
.btn-basic.next{width: 120px; font-size: 1.6rem;}

.form-box .certification-box{
    width: 100px; height: 44px; background: #fff;
    border: 1px solid #8b8b8b; border-radius: 4px;
    display: block; position: static; background: none;
    color: #8b8b8b;}
.form-box .certification-box ~ .message{color: #e94757}

.login-google{display: flex; justify-content: center; align-items: center;}
.login-google img{margin-top: 4px;}

.btn-purple{
    width: 100%; height: 48px; border: 1px solid #8b8b8b; 
    color: #8b8b8b; font-size: 1.6rem; text-align: center;
    background: none; border-radius: 4px; background: #fff;
    box-sizing: border-box; font-weight: 700; margin-top: 24px;}
.btn-purple.fix-bottom{position: absolute; bottom: 24px; left: 0;}

.btn-purple.enable{border: 1px solid #543dab; color: #543dab;}
.btn-purple.enable:hover{background-color: rgba(75, 46, 137, 0.1);}
.btn-purple.enable:active{background-color: rgba(75, 46, 137, 0.2);}

.content .btn-basic.pw{
    width: 105px; height: 32px; font-size: 1.3rem; background: #c1c1c1;
    font-weight: 500;}
.content .btn-basic.pw:hover{box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);}
.content .btn-basic.pw:active{background-color: #a5a5a5;}

/*login-email*/
.login-email header{display: none;}
.login-email .content{margin-top: 40px; height: calc(100vh - 40px);}
.login-email .content .btn-purple{bottom: 24px;}
.login-email .logo-wrap{margin-top: 0px; margin-bottom: 16px;}
.login-email .contesnt >form{position: static;}
.login-email .btn-wrap{justify-content: space-between;}
.login-email form:last-child{position: static;}
.login-email .login-google{border: #555 1px solid; color: #555;}
.login-email .login-google:hover{background:none;}
.login-email .login-google:active{background:none;}

/*login-pw*/
.login-pw .content >form{position: static;} 
.login-pw .content .user-id{margin-top: 32px; font-weight: 700;}
.login-pw .btn-wrap{margin-top: 26px; justify-content: space-between;}
.login-pw .logo-wrap h2{font-size: 2.4rem;}
.login-pw .form-box form.btn-wrap{justify-content: space-between;}

/*sign-up 공통*/
.sign-up .content >p{margin-top: 16px;}
.sign-up .btn-wrap{justify-content: flex-end;}
.sign-up .form-box form .message{display: block; color:#8b8b8b;}
.form-box form.error .message{color: #e94757;}

/*sign-up-01*/
.sign-up-01 .form-box form{margin-top: 38px;}

/*sign-up-02*/
.sign-up-02 .message{color: #e94757; display: block;}

/*sign-up-03*/
.sign-up-03 .form-box{margin-top: 62px;}

/*sign-up-04*/
.sign-up-04 .form-box form{display: flex;}
.sign-up-04 .form-box form >div{width: 100%;}
.sign-up-04 .form-box form >div:nth-child(2){margin: 0 8px;}

/*sign-up-05*/
.sign-up-05 form.ico-serch{position: relative; margin-bottom: 22px}
.sign-up-05 form.ico-serch button{
    position: absolute; top: 9px; right: 1px; border-radius: 4px;
    width: 40px; height: 40px; background: #fff;
    display: flex; align-items: center; justify-content: center;}
.sign-up-05 form.ico-serch button img{width: 24px; height: 24px;}
.sign-up-05 .form-box form .message{display: none;}
.sign-up-05 .form-box form.error .message{display: block;}

/*sign-up-06*/
.sign-up-06 .form-box form ul li label{height: 50px; margin-top: 0px;}
.sign-up-06 .form-box .all{margin-top: 48px;}
.sign-up-06 .btn-wrap{display: block; margin-top: 8px;}
.sign-up-06 .content .btn-wrap button{width: 100%;}
.sign-up-06 .form-box .all .message{position: static; margin: 8px 0; display: none;}
.sign-up-06 .all{margin-bottom: 8px;}
.sign-up-06 .all.error{margin-bottom: 0px;}
.sign-up-06 .all.error .message{display: block; color: #d32f2f;}

/*sign-up-07*/
.sign-up-07 .text-box{margin-top: 56px;}
.sign-up-07 .text-box >p:nth-child(2n-1){
    color: #8b8b8b; font-size: 1.2rem; letter-spacing: .26px; 
    font-weight: 500; margin-top: 16px;}
.sign-up-07 .text-box >p:nth-child(2n){
    font-size: 1.4rem; letter-spacing: .3px; margin-top: 8px; font-weight: 700;}
.sign-up-07 .btn-wrap{margin-top: 48px;}
.sign-up-07 .btn-wrap button{margin-top: 0px;}

/*reset-pw*/
.reset-pw .logo-wrap + p{margin-top: 16px;}

/*reset-pw01*/
.reset-pw01 .form-box{margin-top: 62px;}

/*reset-pw02*/
.reset-pw02 .form-box form .message{display: none;}
.reset-pw02 .form-box div form:last-child{margin-top: 30px;}
.reset-pw02 .btn-basic{width: 100%;}

/*reset-pw03*/
.reset-pw03 .form-box form .message{display: none;}
.reset-pw03 .text-box{margin-top: 40px;}
.reset-pw03 .text-box p{
    color: #8b8b8b; font-size: 1.2rem; letter-spacing: .26px; 
    font-weight: 500;}
.reset-pw03 .text-box p.user-id{
    font-size: 1.4rem; letter-spacing: .3px; margin-top: 8px; font-weight: 700;
    color: #161616;}
.reset-pw03 .form-box{margin-top: 66px;}
.reset-pw03 .form-box .btn-wrap{margin-top: 0;}
.reset-pw03 .form-box button{margin-top: 0;}