@charset "UTF-8"; 

*{list-style: none; margin: 0; padding: 0;}
html{font-size: 10px;}
a, p, div, li, span, h1, h2, h3, h4, h5, h6, label, button, input{
    font-family: 'Montserrat','Noto Sans KR', sans-serif; letter-spacing: .3px;
    color: #161616; font-size: 1.4rem; font-weight: 700;}
p, label{font-weight: 500;}
input::placeholder, textarea::placeholder{
    font-size: 1.4rem; color: #6f6f6f; font-weight: normal; letter-spacing: .3px;}
.message{letter-spacing: .26px;}
h2{letter-spacing: .43px;}
input, a{font-weight: normal;}
a{text-decoration: none;}
*:focus{outline: none;}
button, textarea{border: none; background: none;}
input{-webkit-appearance: none; background: none; border: none;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; margin: 0;}
textarea::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button {
    -webkit-appearance: none; margin: 0;}
textarea{resize: none;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
 transition: background-color 5000s ease-in-out 0s;
 -webkit-transition: background-color 9999s ease-out;
box-shadow: 0 0 0px 1000px white inset !important;
}
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
 transition: background-color 5000s ease-in-out 0s;
 -webkit-transition: background-color 9999s ease-out;
box-shadow: 0 0 0px 1000px white inset !important;
}

body{width: 100%;}

#wrap{max-width: 600px; min-width: 300px; margin: 0 auto;}

header{height: 50px;width: 100%; margin: 0 auto; background: #fff; z-index: 1;}

.header.fix{position: fixed; left: 0; top: 0; width: 100%; z-index: 2;}
.header.fix .menu-wrap{position: relative;}
.menu-wrap.home-menu-btn{width: 92%;}
header.fix .menu-wrap.home-menu-btn{width: 100%;}
header .menu-wrap{
    width: 100%; height: 50px; max-width: 600px;
    display: flex; align-items: center; margin: 0 auto;}
header .menu-wrap p{
    font-size: 1.6rem; font-weight: 700; 
    width: 100%; text-align: center;}
.header .menu-wrap button{width: 85px;}
header .menu-wrap button:first-child img{display: none; margin-left: 16px;}
.header button:first-child{
    position: absolute; top: 1px; left: 0%; height: 48px; 
    display: flex; justify-content: flex-start; align-items: center;}
.header button:last-child{
    position: absolute; top: 1px; right: 0%; height: 48px; 
    display: flex; justify-content: center; align-items: center;}
.header .home-menu-btn button:last-child{right: -13px; width: 48px;}

.content{width: 92%; margin: 0 auto;}

/* 컴포넌트가이드 */
.form-box *{display: block;}
.form-box label{display: flex;}
.input-basic{
    border: 1px solid #dfdfdf; border-radius: 4px;
    width: 100%; height: 42px; margin-top: 8px; 
    padding: 11px 8px; box-sizing: border-box;
    font-size: 1.6rem; font-weight: 700;}

    label >span{color: #161616; font-size: 1.4rem; font-weight: 500;}

form{position: relative;}
form.success button, form.filled button, form.pw-veiw button, 
form.pw-hide button, form.error button{
    position: absolute; bottom: 9px; right: 8px;
    background: url(img/02-icon-01-outline-exclamation-circle.svg) no-repeat 0 0;
    width: 24px; height: 24px;}
form .message{
    width: 100%; height: 18px; font-size: 1.2rem; font-weight: normal;
    position: absolute; bottom: -22px; left: 0; display: none;}
form.error input, form.error textarea{border: 1px solid #d32f2f;}
.form-box form.error .message{color: #d32f2f; display: block;}
form.success button{
    background: url(img/02-icon-01-outline-check.svg); display: block}
form.filled button{
    background: url(img/02-icon-02-solid-times-circle.svg); display: block;}
form.pw-veiw button{background: url(img/02-icon-02-solid-eye.svg); display: block;}
form.pw-hide button{background: url(img/02-icon-02-solid-eye-slash.svg); display: block;}
form.selected input{border: 1px solid #555;}

.check-circle label{display: flex; align-items: center; margin-top: 32px;}
.check-circle input[type=checkbox]{display: none;}
.check-circle input[type=checkbox] + label::before{
    display: block; content: "";
    width: 24px; height: 24px; margin-right: 4px;
    background: url(img/02-icon-02-solid-check-circle.svg) no-repeat;}
.check-circle input[type=checkbox]:checked + label::before{
    background: url(img/02-icon-02-solid-check-circle-color.svg) no-repeat;}
.check-circle.square input[type=checkbox] + label::before{
    background: url(img/02-icon-01-outline-square.svg) no-repeat;}
.check-circle.square input[type=checkbox]:checked + label::before{
    background: url(img/02-icon-02-solid-check-square.svg) no-repeat;}

.check-circle-all-del label{display: flex; align-items: center; margin-top: 32px; justify-content:space-between;}
.check-circle-all-del input[type=checkbox]{display: none;}
.card-del-box .check-circle-all-del input[type=checkbox] + label::after{
    display: block; content: "";
    background: url(img/02-icon-01-outline-check-square.svg) no-repeat;
    width: 18px; height: 18px; margin-top: 2px; margin-right: 4px;}
.card-del-box .check-circle-all-del input[type=checkbox]:checked  + label::after{
    background: url(img/02-icon-02-solid-check-square.svg) no-repeat;}

.btn-wrap{
    margin-top: 46px;
    display: flex; justify-content: flex-end; align-items: center;}
.btn-wrap a{font-size: 1.4rem;}
.btn-basic{
    height: 48px; background: #dfdfdf;
    color: #fff; border-radius: 4px; border: none;}
.btn-basic.enable{background: #242424;}
.btn-basic.enable:hover{box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);}
.btn-basic.enable:active{background: #141414;}
.btn-basic.next{width: 120px; font-size: 1.6rem;}

.form-box .certification-box{
    width: 100px; height: 44px; background: #fff;
    border: 1px solid #8b8b8b; border-radius: 4px;
    display: block; position: static; background: none;
    color: #8b8b8b;}
.form-box .certification-box ~ .message{color: #e94757}

.bg-opacity{
    width: 100%; height: 100%; position: static; transition: height .1s;}
.bg-opacity.on{
    width: 100%; height: 100%; opacity: 1; 
    background: rgba(0, 0, 0, 0.4); z-index: 2;
    position: fixed; top: 0; left: 0;}

.bg-opacity.on .alert-wrap{visibility: visible; height: 100%;}
.alert-wrap{
    display: flex; justify-content: center; align-items: center;
    width: 100%; height: 100%; position: fixed; visibility: hidden;}
.alert-box{
    width: 280px; height: 178px;
    background: #fff; border-radius: 8px;}
.alert-box .text-box{
    padding: 24px; box-sizing:  border-box; text-align: center; height: 130px;}
.alert-box .text-box p.p-header{font-weight: 700; margin-bottom: 16px;}
.alert-box .text-box p.p-text{color: #555; font-weight: 500;}
.btn-box{width: 100%; height: 48px; display: flex;}
.alert-box .btn-box button{
    width: 50%; height: 100%;
    border-top: 1px solid #ebebeb; box-sizing: border-box;}
.alert-box .btn-box button:first-child{border-right: 1px solid #ebebeb; font-weight: 500;}
.alert-box .btn-box button:hover{background: #ebebeb; border-radius: 8px;}
.alert-box .btn-box button:active{background: #d8d8d8; border-radius: 8px;}
.alert-box.small{height: 157px;}
.alert-box.small .text-box{height: 109px;}
.alert-box.small .btn-box button{width: 100%; border-right: none;}


.bg-opacity.on .sheet-wrap{visibility: visible; z-index: 1; bottom: 0;}
.sheet-wrap{
    width: 100%; height: 200px; border-radius: 14px 14px 0 0;
    display: flex; align-items: flex-end; justify-content: center;
    position: fixed; bottom: 0; left: 0; background: #fff;
    bottom: -8rem; transition: bottom .2s; visibility: hidden;}
.sheet-wrap *{font-weight: 500;}
.sheet-box{
    width: 100%; height: 100%;
    max-width: 600px; min-width: 375px; margin: 0 auto;}
.drag-btn{
    display: flex; align-items: center; justify-content: center;
    width: 100%; height: 36px;}
.drag-btn span{display: block; width: 36px; height: 4px; background: #c1c1c1; border-radius: 2px;}
.sheet-name{height: 50px; color: #c1c1c1; height: 50px; line-height: 50px; margin: 0 4%;}

.sheet-list li{height: 50px; line-height: 50px;}
.sheet-list li:hover{background: #f5f5f5;}
.sheet-list li:active{background: #ebebeb;}
.sheet-list button{
    font-size: 1.6rem; margin: 0 16px; width: 100%; height: 100%; text-align: left;
    font-weight: 400;}

.ad-card-btn{
    width: 40px; height: 40px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    background-color: #543dab; border-radius: 20px;
    position: fixed; right: 4%; bottom: 4%; overflow: hidden;
    transition: width .2s;}
.ad-card-btn img{position: absolute; top: 8px; left: 8px;}
.ad-card-btn p{
    position: absolute; top: 10px; right: -57px; width: 57px;
    color: #fff; font-size: 12px; font-weight: 700;
    height: 20px; line-height: 20px;}
.ad-card-btn:hover{
    width: 107px; border-radius: 20px; background: #543dab;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);}
.ad-card-btn:hover img{left: 10px;}
.ad-card-btn:hover p{right: 12px;}
.ad-card-btn:active{
    border-radius: 20px; width: 107px; background: #4b2e89;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);}

@media (min-width: 600px) and (max-width: 700px) { 
    .ad-card-btn{right: 10%;}
}
@media (min-width: 700px) and (max-width: 800px) { 
    .ad-card-btn{right: 15%;}
}
@media (min-width: 800px) and (max-width: 900px) { 
    .ad-card-btn{right: 20%;}
}
@media (min-width: 900px) and (max-width: 1100px) { 
    .ad-card-btn{right: 25%;}
}

@media (min-width: 1100px) and (max-width: 1400px) { 
    .ad-card-btn{right: 27%;}
}
@media (min-width: 1400px) and (max-width: 1600px) { 
    .ad-card-btn{right: 33%;}
}
@media (min-width: 1300px) and (max-width: 2000px) { 
    .ad-card-btn{right: 36%;}
}

.ad-card-btn.emrty-ani{animation: emrty-ani 1s; animation-iteration-count: 2;}
@keyframes emrty-ani{
    0%{bottom: 4%}
    25%{bottom: 5%}
    50%{bottom: 4%}
    75%{bottom: 5%}
    100%{bottom: 4%}
}

.card-del-wrap.on{bottom: -0rem; transition: bottom .2s; visibility: visible;}
.card-del-wrap.on .card-del-box{
    min-width: calc(375px - 4%); max-width: 600px; width: 92%; margin: 0 auto;
    position: relative;}
.card-del-wrap.on .card-del-box >button{
    width: 24px; height: 24px;
    position: absolute; right: 0px; top: 12px;}
.card-del-wrap.on .card-del-box >p{
    color: #8b8b8b; text-align: center; 
    font-weight: 700; padding-top: 57px; margin-bottom: 9px;}
.card-del-wrap.on .card-del-box >p.del-select{color: #161616;}
.card-del-wrap.on .card-del-box >p.del-select span{color: #161616;}
.card-del-wrap.on .card-del-box >form{
    display: flex; justify-content: flex-end; width: 100%; height: 40px;}
.card-del-wrap.on .card-del-box >form label{
    width: 87px; height: 40px; margin: 0; color: #555; font-size: 1.2rem;}
.card-del-wrap.on .card-del-box >.btn-wrap{
    margin: 8px auto 16px; width: 100%;}
.card-del-wrap.on .card-del-box >.btn-wrap button{
    width: 50%; height: 48px; margin: 0;}
.card-del-wrap.on .card-del-box >.btn-wrap button:first-child{margin-right: 7px;}
.card-del-wrap{
    bottom: -10rem; transition: bottom .2s; visibility: hidden;
    position: fixed; left: 0; width: 100%;
    border-radius: 14px 14px 0 0; box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #fff;}

.card.del{overflow: hidden;}
.card.del::after{
    display: block; content: "";
    width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3);
    position: absolute; top: 0;left: 0;}

.toggle-box >div{
    display: flex; justify-content: space-between; align-items: center;
    width: 100%; height: 50px;}
.toggle-box >div:first-child{margin-top: 16px;}
.toggle-box div p span{font-size: 1.2rem; font-weight: 700; color:#8b8b8b; margin-left: 8px;}
.toggle-box div.toggle-on p span{color:#e94757;}
div .btn-toggle{
    width: 36px; height: 20px; position: relative;
    border-radius: 10.5px; background: #8b8b8b;}
div .btn-toggle span{
    position: absolute; top: 2px; left: 2px; border-radius: 10px; display: block;
    width: 16px; height: 16px; background: #fff; transition: left .2s;}
div.toggle-on .btn-toggle{background: #e94757;}
div.toggle-on .btn-toggle span{left: 18px;}

.btn-purple{
    width: 100%; height: 48px; border: 1px solid #543dab; opacity: .3;
    color: #543dab; font-size: 1.6rem; text-align: center;
    background: none; border-radius: 4px; background: #fff;
    box-sizing: border-box; font-weight: 700; margin-top: 24px;}
.btn-purple.fix-bottom{position: absolute; bottom: 24px; left: 0;}

.btn-purple.enable{opacity: 1;}
.btn-purple.enable:hover{background-color: rgba(75, 46, 137, 0.1);}
.btn-purple.enable:active{background-color: rgba(75, 46, 137, 0.2);}

.btn-purple-filled{margin: 64px 0 24px;}
.btn-purple-filled{
    width: 100%; height: 48px; font-weight: 700; opacity: .3;
    color: #fff; font-size: 1.6rem; text-align: center;
    background: none; border-radius: 4px; background: #543dab;}
.btn-purple-filled.enable{opacity: 1;}
.btn-purple-filled.enable:hover{box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);}
.btn-purple-filled.enable:active{background: #4b2e89;}
.btn-purple-light{color: #543dab; opacity: .3;}
.btn-purple-light.enable{opacity: 1;}
.btn-purple-light.enable:hover{color: #4b2e89;}

.border-bottom{border-bottom: solid 4px #f5f5f5; position: relative; padding-bottom: 24px;}
.border-bottom::after{
    content:""; display: block;
    position: absolute; bottom: -4px; right: -4%;
    width: 4%; height: 4px; background: #f5f5f5;}
.border-bottom::before{
    content:""; display: block;
    position: absolute; bottom: -4px; left: -4%;
    width: 4%; height: 4px; background: #f5f5f5;}

.exempli{margin-top: 24px;}
.exempli h2{font-size: 1.2rem; color: #8b8b8b; font-weight: 400;}
.card{
    width: 100%; border-radius: 6px; position: relative;
    background-image: linear-gradient(116deg, #16222a, #3a6073 100%);
    margin-top: 8px;}
.card::before{display: block; content: ""; padding-top: 50%;}
.card.drag{
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.3);
    opacity: .8;}
.card >*{position: absolute;}
.card h3{font-size: 1.4rem; letter-spacing: .5px; color: #fff; top: 16px; left: 16px; font-weight: 400;}
.card p{color: #fff; left: 16px; bottom: 16px; font-weight: 700;}
.card button{top: 8px; right: 8px;}
.card button:active .card{box-shadow: 0 8px 15px 0 rgba(85, 78, 78, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.3);}

.ad-img-box{
    width: 100%; border-radius: 4px;
    box-sizing: border-box; overflow: hidden;}
.content .ad-img-box{display: block;}
.ad-img-box >div{
    width: 100%; height: 400px;
    display: flex; flex-direction: column; justify-content: center;
    background: url(img/noname.png) no-repeat center center;
    background-size: cover;}
.ad-img-box.on >div{position: relative;}
.ad-img-box.on >div::before{
    display: block; content:""; width: 100%; height: 100%;
    position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.2)}
.content .ad-img-box.on div p{color: #fff; z-index: 1;}
.ad-img-box >p{margin-bottom: 16px;}
.ad-img-box div p{font-size: 1.4rem; color: #8b8b8b; text-align: center; font-weight: 400;}
.ad-img-box div p:nth-child(1){font-size: 24px;}
.ad-img-box div p:nth-child(2){color: #6f6f6f; margin: 8px 0;}
.ad-img-box + input{display: none;}
.ad-img-box ~.img-del-btn{display: none; width: 100%; justify-content: flex-end; margin-top: 8px;}
.ad-img-box ~.img-del-btn button{
    display: flex; align-items: center; justify-content: center;
    width: 61px; height: 34px; color: #8b8b8b; font-size: 1.2rem;}
.ad-img-box.on ~.img-del-btn{display: flex;}

.card-size-box{margin-top: 40px;}
.hover-style >*{
    display: flex; justify-content: space-between; align-items: center;
    width: 100%; height: 50px; position: relative;}
.hover-style >*:hover{background: #f5f5f5;}
.hover-style >*:active{background: #ebebeb;}
.hover-style >*::after{
    content:""; display: block; display: none;
    position: absolute; top: 0; right: -4%;
    width: 4%; height: 50px; background: #f5f5f5;}
.hover-style >*::before{
    content:""; display: block; display: none;
    position: absolute; top: 0; left: -4%;
    width: 4%; height: 50px; background: #f5f5f5;}
.hover-style >*:hover::after{display: block;}
.hover-style >*:hover::before{display: block;}
.hover-style >*:active::after{display: block; background: #ebebeb;}
.hover-style >*:active::before{display: block; background: #ebebeb;}

.card-size-box button p span{margin-left: 8px; color: #8b8b8b; font-size: 1.2rem;}
.card-size-box button.select p span{color: #e94757;}

/* join */
.join header{height: 50px; width: 100%;}
.join header button{
    width: 48px; height: 48px; border: none;
    display: flex; justify-content: center; align-items: center;
    margin: 1px 4px; background: none;}
.join header img{width: 24px; height: 24px;}
.join .content{height: calc(100vh - 59px); position: relative;}
.join .logo-wrap{display: flex; align-items: flex-end; margin: 8px 0;}
.join .logo-wrap h1{font-size: 4rem;}
.join .logo-wrap h2{font-size: 2rem;}
.join .logo-wrap p{
    font-size: 1.2rem; color: #e94757; margin-left: 8px;
    text-transform: capitalize; font-weight: 700;}
.join .form-box{margin-top: 40px;}

/*login-email*/
.login-email header{display: none;}
.login-email .content{margin-top: 40px; height: calc(100vh - 40px); position: relative;}
.login-email .content .btn-purple{bottom: 24px;}
.login-email .logo-wrap{margin-top: 0px; margin-bottom: 16px;}
.login-email .contesnt >form{position: static;}
.login-email .btn-wrap{justify-content: space-between;}
.login-email form:last-child{position: static;}

.login-email .login-google{
    display: flex; justify-content: center; align-items: center; 
    border: #555 1px solid; color: #555;}
.login-email .login-google img{margin-top: 4px;}
.login-email .login-google:hover{background:none;}
.login-email .login-google:active{background:none;}

/*login-pw*/
.login-pw .content >form{position: static;} 
.login-pw .content .user-id{margin-top: 40px; font-weight: 700;}
.login-pw .btn-wrap{margin-top: 24px;}
.login-pw .logo-wrap h2{font-size: 2.4rem;}
.login-pw .form-box form.btn-wrap{justify-content: space-between;}

/* sign-up */
.sign-up .content{height: calc(100vh - 59px); position: relative;}
.sign-up .content >p{margin-top: 16px;}
.sign-up .btn-wrap{justify-content: flex-end;}
.sign-up .form-box form .message{display: block; color:#8b8b8b;}
.form-box form.error .message{color: #e94757;}

/*sign-up-01*/
.sign-up-01 .form-box form{margin-top: 38px;}
.sign-up-01 .form-box form:first-child .message{display: none;}
.sign-up-01 .form-box form:first-child.error .message{display: block;}

/*sign-up-02*/
.sign-up-02 .message{color: #e94757; display: block;}

/*sign-up-03*/
.sign-up-03 .form-box{margin-top: 62px;}

/*sign-up-04*/
.sign-up-04 .birth{display: flex;}
.sign-up-04 .birth form{width: 100%;}
.sign-up-04 .birth form:nth-child(2){margin: 0 8px;}

/*sign-up-05*/
.sign-up-05 form.ico-serch{position: relative; margin-bottom: 22px}
.sign-up-05 form.ico-serch button{
    position: absolute; top: 9px; right: 1px; border-radius: 4px;
    width: 40px; height: 40px; background: #fff;
    display: flex; align-items: center; justify-content: center;}
.sign-up-05 form.ico-serch button img{width: 24px; height: 24px;}
.sign-up-05 .form-box form .message{display: none;}
.sign-up-05 .form-box form.error .message{display: block;}

/*sign-up-06*/
.sign-up-06 .form-box form ul li label{height: 50px; margin-top: 0px;}
.sign-up-06 .form-box .all{margin-top: 48px;}
.sign-up-06 .btn-wrap{display: block; margin-top: 16px;}
.sign-up-06 .content .btn-wrap button{width: 100%;}
.sign-up-06 .form-box .all .message{position: static; margin: 8px 0; display: none;}
.sign-up-06 .all{margin-bottom: 8px;}
.sign-up-06 .all.error{margin-bottom: 0px;}
.sign-up-06 .all.error .message{display: block; color: #d32f2f;}

/*sign-up-07*/
.sign-up-07 .text-box{margin-top: 56px;}
.sign-up-07 .text-box >p:nth-child(2n-1){
    color: #8b8b8b; font-size: 1.2rem; letter-spacing: .26px; 
    font-weight: 500; margin-top: 16px;}
.sign-up-07 .text-box >p:nth-child(2n){
    font-size: 1.4rem; letter-spacing: .3px; margin-top: 8px; font-weight: 700;}
.sign-up-07 .btn-wrap{margin-top: 48px;}
.sign-up-07 .btn-wrap button{margin-top: 0px;}

/*reset-pw*/
.reset-pw .logo-wrap + p{margin-top: 16px;}

/*reset-pw01*/
.reset-pw01 .form-box{margin-top: 62px;}

/*reset-pw02*/
.reset-pw02 .form-box form .message{display: none;}
.reset-pw02 .form-box div form:last-child{margin-top: 30px;}
.reset-pw02 .btn-basic{width: 100%; font-size: 1.6rem;}
.reset-pw02 .user-id{color: #e94757;}

/*reset-pw03*/
.reset-pw03 .form-box form .message{display: none;}
.reset-pw03 .text-box{margin-top: 40px;}
.reset-pw03 .text-box p{
    color: #8b8b8b; font-size: 1.2rem; letter-spacing: .26px; 
    font-weight: 500;}
.reset-pw03 .text-box p.user-id{
    font-size: 1.4rem; letter-spacing: .3px; margin-top: 8px; font-weight: 700;
    color: #161616;}
.reset-pw03 .form-box{margin-top: 66px;}
.reset-pw03 .form-box .btn-wrap{margin-top: 0;}
.reset-pw03 .form-box button{margin-top: 0;}

/*user-home*/
.user-home .menu-wrap p.user-name{
    max-width: calc(100% - 113px); text-align: left;
    overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.user-home .user-name{margin-right: 4px;}
.user-home .sns-sheet{height: 210px;}
.user-home .sns-sheet .sheet-list{display: flex;}
.user-home .sns-sheet .sheet-list li{width: 52px; height: 66px; margin-right: 16px;}
.user-home .sns-sheet .sheet-list li:hover{background: none;}
.user-home .sns-sheet .sheet-list li:hover::before{display: none;}
.user-home .sns-sheet .sheet-list li:hover::after{display: none;}
.user-home .sns-sheet .sheet-list li:active{background: none;}
.user-home .sns-sheet .sheet-list li:active::before{display: none;}
.user-home .sns-sheet .sheet-list li:active::after{display: none;}
.user-home .sns-sheet .sheet-list li:first-child{margin-left: 4%;}
.user-home .sns-sheet .sheet-list li button{margin: 0px;}
.user-home .sns-sheet .sheet-list li img{width: 44px; height: 44px; display: block; margin: 4px;}
.user-home .sns-sheet .sheet-list li p{font-size: .8rem; color: #8b8b8b; text-align: center;}

.user-home .card.bg-img{
    background: url(img/KakaoTalk_Photo_2020-12-28-17-02-08.png);
    background-size: cover; overflow: hidden;}
.user-home .card.bg-img::after{
    width: 100%; height: 100%; display: block; content:"";
    position: absolute; top: 0; left: 0;
    background:rgba(0, 0, 0, 0.1)}
.user-home .card.bg-img >*{z-index: 1;}
.user-home .sns-sheet .sheet-box >p:last-child{
    font-size: 1.2rem; color: #543dab; text-align: center; 
    height: 50px; line-height: 50px; margin-top: 8px;}

.user-home .sns-sheet .sheet-list.none-sns{height: 74px;}
.user-home .sns-sheet .sheet-list.none-sns li{display: none;}
.user-home .sns-sheet .sheet-list.none-sns .none-sns-message{display: block;}
.user-home .sns-sheet .sheet-list .none-sns-message{
    padding: 16px 0 24px 4%; color:#8b8b8b; display: none; font-weight: 500;
    width: 100%; height: auto; line-height: inherit; box-sizing: border-box;}
.user-home .sns-sheet .sheet-list.none-sns+p{margin-top: 0;}

/*user-home-notice*/
.user-home-notice header{width: 100%; position: relative; height: 168px;}
.user-home-notice .menu-wrap{
    width: 100%; height: 168px; display: block; 
    background-image: linear-gradient(115deg, #c71d6f 2%, #d09693 100%);}
.user-home-notice .menu-wrap.bg-img{
    background-position: center center; background-size: cover;
    background: url(img/heart-4678021_1280.jpg) no-repeat;}
.user-home-notice .menu-wrap.bg-img::after{
    width: 100%; height: 100%; display: block; content:"";
    position: absolute; top: 0; left: 0;
    background:rgba(0, 0, 0, 0.1);}
.user-home-notice .menu-wrap.bg-img >*{
    position: absolute; left: 0; text-align: center; 
    font-weight: 400; z-index: 1; margin: 0 auto; width: 100%;} 
.user-home-notice .header .menu-wrap{position: static;}
.user-home-notice .header.fix .menu-wrap{position: relative;}
.user-home-notice .header .menu-wrap button{
    top: 1px; left: 4px; margin: 0;
    width: 48px; height: 48px; z-index: 2;}
.user-home-notice header .menu-wrap button img{
    display: block; width: 24px; margin: 0 auto;}
.user-home-notice header .menu-wrap h3{color: #fff; padding: 90px 0 16px;}
.user-home-notice header .menu-wrap p{font-size: 1.2rem; color: #fff; bottom: 25px;}

.user-home-notice header.fix{height: 50px;}
.user-home-notice header.fix .menu-wrap{height: 50px;}
.user-home-notice header.fix .menu-wrap p{display: none;}
.user-home-notice header.fix .menu-wrap h3{
    padding: 0; height: 50px; line-height: 50px;}

.user-home-notice .main-title{
    width: 100%; height: 96px;
    display: flex; justify-content: flex-start; align-items: center; align-content: center;}
.user-home-notice .main-title p{font-weight: 700; font-size: 1.6rem;}
.user-home-notice .user-name{font-size: 1.2rem; color: #3d3d3d;}
.user-home-notice .text-area{
    font-size: 1.2rem; margin: 8px 0; width: 100%; font-weight: 400;
    overflow: hidden; text-overflow: ellipsis; box-sizing: border-box;
    white-space: normal; line-height: 1.6rem; height: 6.4rem;}
.user-home-notice .text-area.more{height: auto; overflow: auto;}
.user-home-notice .overflow-btn{font-size: 1.2rem; color:#8b8b8b; font-weight: 500;}
.user-home-notice .state span{
    font-size: 1rem; color:#555; margin-bottom: 80px; 
    display: inline-block; font-weight: 400;}

.user-home-notice .img-area{
    width: 100%; margin: 8px 0; height: 100%; border-radius: 8px;
    background: url(img/tree-3778173_640.jpg) no-repeat
    no-repeat center center; background-size: cover;}
.user-home-notice .img-area::after{display: block; content:""; padding-top: 100%}
.user-home-notice .bg-opacity.on{display: flex; align-items: center; justify-content: center;}
.user-home-notice .bg-opacity.on .img-area{
    width: 92%; min-width: 375px; max-width: 550px; margin: 0 auto; 
    z-index: 3; border-radius: 0;}
/*admin-home*/
.admin-home .menu-wrap p.user-name{
    max-width: calc(100% - 180px); text-align: left;
    overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.admin-home .del-text-box{
    position: static; background: #fff;
    margin: 8px 0; width: 100%; height: 40%; text-align: right;}
.admin-home .del-text-box button{
    color: #555; font-weight: 500; font-size: 1.2rem; width: 123px; height: 40px;
    padding-right: 8px; text-align: right; position: relative;}
.admin-home .del-text-box button img{position: absolute; left: 8px;}
.admin-home .header .menu-wrap{position: relative;}
.admin-home .header.fix p.user-name{padding-left: 4%;}
.admin-home .header.fix button.menu{margin-right: 4%;}
.admin-home .menu-wrap p.user-name{font-size: 2rem; font-weight: 700; letter-spacing: .43px; width: auto;}
.admin-home .menu-wrap p:nth-child(2){
    font-size: 1.2rem; font-weight: 700; color: #543dab; margin-top: 5px; width: auto;}
.admin-home .menu-wrap p >span{color: #e94757; margin: 0 4px 0 8px;}
.card:last-child{margin-bottom: 16px;}
.admin-home .card:nth-child(2){background-image: linear-gradient(to right, #3a6186, #89253e);}
.admin-home .card:nth-child(3){background-image: linear-gradient(to right, #3494e6, #ec6ead);}
.admin-home .card:nth-child(4){background-image: linear-gradient(104deg, #dd3e54 5%, #6be585 100%);}

.admin-home .all-del{justify-content: center;}
.admin-home .card.del button{z-index: 1;}

.admin-home .header .del-wrap{display: none;}
.admin-home .header.fix .del-wrap{
    display: flex; justify-content: flex-end;
    max-width: 600px; min-width: 375px; margin: 0 auto; position: relative;}
.admin-home .header.fix .del-wrap .del-text-box{
   width: 123px; height: 32px; background: rgba(225, 225, 225, .8);
   position: absolute; right: 4%; border-radius: 20px 0 0px 20px; 
   margin: 0; margin-top: 12px;}
.admin-home .header.fix .del-wrap .del-text-box button{
    height: 32px; padding: 0 0 1px 20px; box-sizing: border-box;}

.admin-home .card+.style-box{width: 100%; height: 16px;}
.admin-home .card+.style-box.on{width: 100%; height: 216px;}
    
/*admin-home empty*/
.admin-home-empty .content{height: 100vh;}
.admin-home-empty .empty-box{
    width: 100%; height: 100%; flex-direction: column; margin-top: -50px;
    display: flex; justify-content: center; align-items: center;}
.admin-home-empty .empty-box p:nth-child(1){font-size: 8rem; height: 105px;}
.admin-home-empty .empty-box p:nth-child(2){font-size: 1.6rem; margin: 8px 0;}
.admin-home-empty .empty-box p:nth-child(3){font-size: 1.2rem; font-weight: 500; color: #6f6f6f; text-align: center;}

/*ad-card*/
.ad-card header .menu-wrap{position: relative;}
.ad-card .input-basic{margin-top: 16px;}
.ad-card .card{background: #555;}
.ad-card .form-box form:last-child{margin-bottom: 14px}
.ad-card .card{margin-bottom: 0;}

.ad-card .form-box form:nth-child(3) textarea{height: 400px;}
.ad-card .form-box form:last-child{margin-bottom: 0;}
.ad-card .form-box form:last-child label div{height: 400px;}

.ad-card .check-circle input[type=checkbox] + label::after{
    background: url(img/02-icon-01-outline-circle.svg)}
.ad-card .form-box form:first-child{margin-top: 24px;}
.ad-card .form-box form{margin-top: 38px;}
.ad-card .input-basic{height: 46px;}

/*ad-card-notice*/
.ad-card-notice .toggle-box >p{
    display: block; height: auto;
    color: #f9a825; font-size: 1.2rem; font-weight: 500;}
.ad-card-notice .toggle-box >p:hover, .ad-card-notice .toggle-box >p:active{background: #fff;}
.ad-card-notice .toggle-box >p:hover::after, .ad-card-notice .toggle-box >p:hover::before{background: #fff;}
.ad-card-notice .toggle-box >p:active::after, .ad-card-notice .toggle-box >p:active::before{background: #fff;}
.ad-card-notice .card{margin-bottom: 0;}

/*ad-card-cover*/
.colorBox h3{font-size: 1.2rem; color: #8b8b8b; font-weight: 400; margin: 24px 0 16px;}

.color-box-wrap{display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;}
.color-chip-wrap >div{width: 100%; border-radius: 8px; margin-top: 8px; position: relative;}
.color-chip-wrap >div:hover{box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.3);}
.color-chip-wrap >div.check{box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.3);}
.color-chip-wrap >div.check::after{display: block;}
.color-chip-wrap >div::before{display: block; content:""; padding-top: 100%;}
.color-box-wrap >div >h4{color: #c1c1c1; font-size: 1.2rem; font-weight: 700;}
.color-chip-wrap >div::after{
    display: block; content:""; width: 24px; height: 24px;
    position: absolute; bottom: 8px; right: 8px; display: none;
    background: url(img/02-icon-02-solid-check-circle.svg)}
.gradients .color-chip-wrap >div:nth-child(1){background-image: linear-gradient(136deg, #d4b2da 1%, #9cd6e0);}
.gradients .color-chip-wrap >div:nth-child(2){background-image: linear-gradient(136deg, #86c9ae 1%, #704ddf);}
.gradients .color-chip-wrap >div:nth-child(3){background-image: linear-gradient(136deg, #4590e1 1%, #de72b2);}
.gradients .color-chip-wrap >div:nth-child(4){background-image: linear-gradient(135deg, #fa7696, #fed946 100%);}
.gradients .color-chip-wrap >div:nth-child(5){background-image: linear-gradient(136deg, #c71d6f 1%, #d09693 100%);}
.gradients .color-chip-wrap >div:nth-child(6){background-image: linear-gradient(136deg, #134e5e 1%, #71b280);}
.gradients .color-chip-wrap >div:nth-child(7){background-image: linear-gradient(135deg, #16222a, #3a6073 100%);}
.gradients .color-chip-wrap >div:nth-child(8){background-image: linear-gradient(135deg, #3a6186, #89253e 100%);}
.gradients .color-chip-wrap >div:nth-child(9){background-image: linear-gradient(136deg, #8e2de2 1%, #4a00e0);}
.gradients .color-chip-wrap >div:nth-child(10){background-image: linear-gradient(136deg, #4767af 1%, #1a2b4c);}
.gradients .color-chip-wrap >div:nth-child(11){background-image: linear-gradient(136deg, #545454 1%, #111112 96%);}

.flat-color .color-chip-wrap >div:nth-child(1){background: #264653;}
.flat-color .color-chip-wrap >div:nth-child(2){background: #2a9d8f;}
.flat-color .color-chip-wrap >div:nth-child(3){background: #e9c46a;}
.flat-color .color-chip-wrap >div:nth-child(4){background: #f4a261;}
.flat-color .color-chip-wrap >div:nth-child(5){background: #e76f51;}
.flat-color .color-chip-wrap >div:nth-child(6){background: #ce4257;}
.flat-color .color-chip-wrap >div:nth-child(7){background: #720026;}
.flat-color .color-chip-wrap >div:nth-child(8){background: #4f000b;}
.flat-color .color-chip-wrap >div:nth-child(9){background: #540d6e;}
.flat-color .color-chip-wrap >div:nth-child(10){background: #132572;}
.flat-color .color-chip-wrap >div:nth-child(11){background: #1d1e20;}

.pastel-color .color-chip-wrap >div:nth-child(1){background: #e3b5b7;}
.pastel-color .color-chip-wrap >div:nth-child(2){background: #ddb5cb;}
.pastel-color .color-chip-wrap >div:nth-child(3){background: #c8bbdb;}
.pastel-color .color-chip-wrap >div:nth-child(4){background: #b5cbdc;}
.pastel-color .color-chip-wrap >div:nth-child(5){background: #b7d0cb;}
.pastel-color .color-chip-wrap >div:nth-child(6){background: #e4d8b9;}
.pastel-color .color-chip-wrap >div:nth-child(7){background: #e1c6b3;}
.pastel-color .color-chip-wrap >div:nth-child(8){background: #cebdb3;}
.pastel-color .color-chip-wrap >div:nth-child(9){background: #988585;}
.pastel-color .color-chip-wrap >div:nth-child(10){background: #644d56;}
.pastel-color .color-chip-wrap >div:nth-child(11){background: #353240;}

.colorBox.hide, .imgBox.hide{display: none;}
.ad-card-cover header .menu-wrap button:first-child img{display: block;}

.ad-card-cover .content h2{color: #555; font-size: 1.4rem; font-weight: 500; margin-bottom:24px;}
.ad-card-cover .content{position: relative; margin-top: 40px;}
.ad-card-cover .content .form-box form{margin: 0;}
.ad-card-cover .form-box form.check-circle:first-child{border-bottom: 1px #ebebeb solid;}
.ad-card-cover .form-box form label{height: 50px; margin: 0; font-weight: 700;}
.ad-card-cover .form-box form label.ad-img-box{height: auto;}
.ad-card-cover .form-box form label.ad-img-box div{height: 200px;}
.ad-card-cover .form-box .ad-img-box >p{font-size: 1.2rem; color: #8b8b8b; margin-top: 24px; font-weight: 400;}
.ad-card-cover .check-circle label{flex-direction: row-reverse; justify-content: space-between;}
.ad-card-cover .content .check-circle label::before{margin: 0;}
.ad-card-cover .content >button.fix-bottom{position: absolute; bottom: 24px; left: 0; margin-bottom: 0;}
.ad-card-cover .check-circle input[type=checkbox]~label{color: #a5a5a5;}
.ad-card-cover .check-circle input[type=checkbox]:checked~label{color: #161616;}
.ad-card-cover .check-circle input[type=checkbox]:checked~label::before{
    background: url(img/02-icon-02-solid-check-circle-color.svg) no-repeat;}
.ad-card-cover .check-circle input[type=checkbox]~label::before{
    background: url(img/02-icon-01-outline-circle-cover.svg) no-repeat;}
/*ad-card-size*/
.ad-card-size header .menu-wrap button:first-child img{display: block;}
.ad-card-size .content{margin-top: 40px;}
.ad-card-size .content h2{color: #555; font-size: 1.4rem; font-weight: 500; margin-bottom:24px;}

.ad-card-size .content .form-box form{margin: 0;}
.ad-card-size .form-box form:first-child{border-bottom: 1px #ebebeb solid;}
.ad-card-size .form-box form label{height: 50px; margin: 0; font-weight: 700; color: #a5a5a5;}
.ad-card-size .form-box form input:checked +label{color: #161616;}
.ad-card-size .form-box form + p{color: #f9a825; margin-top: 16px; font-size: 1.2rem; display: none;}

.ad-card-size .card-wrap{display: flex; flex-direction: column-reverse;}
.ad-card-size .card-wrap.flex-column{flex-direction: column;}
.ad-card-size .card-box >p{font-size: 1.2rem; color: #8b8b8b; margin-top: 24px; font-weight: 400;}
.ad-card-size .card-wrap .card{margin: 0; margin-top: 8px; background: #ebebeb;}
.ad-card-size .card-wrap .card.checked{background: #a5a5a5;}
.ad-card-size .card-wrap .card:first-child{width: 50%;}
.ad-card-size .card-wrap .card:first-child::before{padding-top: 100%;}

.ad-card-size .check-circle label{flex-direction: row-reverse; justify-content: space-between;}
.ad-card-size .content .check-circle label::before{margin: 0;}
.ad-card-size .content >button.fix-bottom{position: absolute; bottom: 24px; left: 0; margin-bottom: 0;}
.ad-card-size .check-circle input[type=checkbox]:checked~label::before{
    background: url(img/02-icon-02-solid-check-circle-color.svg) no-repeat;}
.ad-card-size .check-circle input[type=checkbox]~label::before{
    background: url(img/02-icon-01-outline-circle-cover.svg) no-repeat;}

.ad-card-size .card-box .card p{
    font-size: 5.4rem; color: #fff; font-weight: 700; width: 60px; height: 60px;
    left: calc(50% - 30px); top: calc(50% - 30px); text-align: center;}

/* customer-help */
.customer-help header{height: 50px; width: 100%; position: relative;}
.customer-help header p{
    height: 50px; text-align: center; line-height: 50px;
    font-size: 1.6rem; font-weight: 700;}
.customer-help header button{position: absolute; top: 0; right: 0;}
.customer-help h2{font-size: 1.4rem; font-weight: 500; margin: 16px 0 48px;}
.customer-help a{
    font-size: 1.8rem; font-weight: 700; text-decoration: underline; 
    margin-bottom: 32px; display: block;}

/* find-email */
.find-email h2{margin-top: 8px; font-size: 2rem; font-weight: 700;}
.find-email .content h2 +p{
    font-size: 1.4rem; font-weight: 500; margin: 16px 0 40px;}
.find-email a{
    font-size: 1.8rem; font-weight: 700; text-decoration: underline; 
    margin-bottom: 32px; display: block;}

/* account */
.account header button:last-child{justify-content: flex-end; margin-right: 12px;}
.account header button:last-child.btn-purple-light{margin: 0; justify-content: center;}
.account .content form{margin: 0;}
.account .content .input-basic{margin-top: 16px;}

/* account-menu */
.account-menu .form-box div{height: 50px; width: 100%; margin: 0;}
.account-menu .form-box div button{font-weight: 500;}
.account-menu .form-box:first-child{margin-top: 40px;}
.account-menu .form-box:last-child{margin-top: 24px;}
.account-menu .form-box:last-child button{color: #8b8b8b;}

/* account-menu-delete */
.account-delete header button:first-child img{display: block;}
.account-delete header button:last-child img{display: none;}
.account-delete h2{margin-top: 17px;}
.account-delete .user-name{color: #e94757;}
.account-delete ul.text-box{
    width: 100%; height: 100%; background: #f7f7f7; margin: 31px 0 16px;
    box-sizing: border-box; padding: 24px 16px; border-radius: 8px;}
.account-delete ul.text-box li:first-child{font-weight: 700; color: #161616; margin: 0 0 24px;}
.account-delete ul.text-box li{font-weight: 500; color: #8b8b8b; margin-top: 8px; word-break: keep-all;}
.account-delete .check-circle input[type=checkbox] + label::before{min-width: 24px; margin-right: 8px;}
.account-delete .check-circle input[type=checkbox] + label{
    width: calc(100% - 32px); word-break: keep-all;}
.account-delete .btn-basic{width: 100%; margin-top:40px; font-size: 1.6rem;}

/* account-delete02 */
.account-delete02 h2{margin-top: 30px;}
.account-delete02 form{margin-top: 32px;}
.account-delete02 form label{color: #8b8b8b; font-weight: 400;}
.account-delete02 .btn-basic{margin-top: 46px;}

/* account-sns */
.account-sns .header .menu-wrap button img{display: block;}
.account-sns .content{position: relative; height: calc(100vh - 90px);}
.account-sns form{
    display: flex; align-items: center; position: relative; width: 100%; height: 50px;
    border-bottom: 1px solid #ebebeb; box-sizing: border-box;}
.account-sns .form-box form{margin-top: 8px;}
.account-sns .form-box form:first-child{margin-top: 40px} 
.account-sns form:hover >*{background: #f5f5f5;}
.account-sns form:active >*{background: #ebebeb;}
.account-sns form::after{
    content:""; display: block; display: none;
    position: absolute; top: 0; right: -4%;
    width: 4%; height: 50px; background: #f5f5f5;}
.account-sns form::before{
    content:""; display: block; display: none;
    position: absolute; top: 0; left: -4%;
    width: 4%; height: 50px; background: #f5f5f5;}
.account-sns form:hover::after{display: block;}
.account-sns form:hover::before{display: block;}
.account-sns form:active::after{display: block; background: #ebebeb;}
.account-sns form:active::before{display: block; background: #ebebeb;}
.account-sns form >*{ height: 100%; display: block;}
.account-sns form label{
    width: 88px; line-height: 50px; color: #8b8b8b; font-weight: 400;}
.account-sns form input{
    width: calc(100% - 88px); box-sizing: border-box; padding: 11px 16px;}
.account-sns input::placeholder{color: #c1c1c1;}

/* account-info */
.account-info header{position: relative;}
.account-info header button:first-child img{display: block;}
.account-info .content{position: relative; height: calc(100vh - 74px);}
.account-info .content h2{font-size: 2rem; font-weight: 700; margin: 24px 0 16px;}
.account-info .content p{color: #555; font-weight: 400;}
.account-info .form-box{margin-top: 56px;}
.account-info .form-box label{color: #8b8b8b; font-weight: 400;}
.account-info .form-box input{height: 42px; margin-top: 16px;}
.account-info .form-box input::placeholder{color: #161616; font-size: 1.6rem; font-weight: 700;}

/* account-info01 */
.account-info01 header button:first-child img{display: block;}
.account-info01 header button:last-child img{display: none;}
.account-info01 .form-box:first-child{margin-top: 40px;}
.account-info01 .content .form-box >div{border-bottom: 1px solid #ebebeb; box-sizing: border-box;}
.account-info01 .content .form-box >div:last-child{border-bottom: none;}
.account-info01 .form-box:first-child div:last-child button{height: auto;} 
.account-info01 .form-box:first-child div:last-child button:hover::after{height: 100%;} 
.account-info01 .form-box:first-child div:last-child button:hover::before{height: 100%;} 
.account-info01 .form-box:first-child div:last-child button:active::after{height: 100%;} 
.account-info01 .form-box:first-child div:last-child button:active::before{height: 100%;} 
.account-info01 .form-box >div button *{height: auto; text-align: left;}
.account-info01 .form-box >div button >span{color:#8b8b8b; width: 88px; font-weight: 400;}
.account-info01 .form-box >div button >p{
    width: calc(100% - 88px); box-sizing: border-box; padding: 11px 16px;
    font-weight: 500; color: #161616;}
.account-info01 .form-box >div button >p span{font-weight: 500;}
.account-info01 .form-box:last-child{margin-top: 24px;}

/* account-info03 */
.account-info03 .birth{display: flex;}
.account-info03 .form-box{margin-top: 32px;}
.account-info03 .content .birth form{width: 100%;}
.account-info03 .birth form:nth-child(2){margin: 0 8px;}

/* account-info04 */
.account-info04 .content p{margin-top: 68px;}
.account-info04 .content .form-box{margin-top: 16px;}
.account-info04 label{
    margin-top: 0px; height: 100%; width: 100%;
    flex-direction: row-reverse; justify-content: space-between;}
.account-info04 .form-box form:first-child{margin-top: 16px;}
.account-info04 form{height: 50px; border-bottom: 1px solid #ebebeb; box-sizing: border-box}
.account-info04 form:last-child{border: none;}
.account-info04 .form-box form label{color: #a5a5a5; font-weight: 700;}
.account-info04 .form-box form input:checked +label{color: #161616;}
.account-info04 .check-circle input[type=checkbox] + label::before{
    background: url(img/02-icon-01-outline-circle.svg)}
.account-info04 .check-circle input[type=checkbox]:checked + label::before{
    background: url(img/02-icon-02-solid-check-circle-color.svg)}

/* account-info05 */
.account-info05 form.serch-address button{
    position: absolute; top: 37px; right: 1px; border-radius: 4px;
    width: 40px; height: 40px; background: #fff;
    display: flex; align-items: center; justify-content: center;}
.account-info05 form.serch-address button img{width: 24px; height: 24px;}
.account-info05 .form-box{margin-top: 32px;}
.account-info05 .form-box form:last-child input{margin-top: 22px;}

/* account-info06 */

/* account-info07 */
.account-info07 header button:last-child{display: none;}
.account-info07 .content >div:last-child{
    display: flex; justify-content: flex-end; width: 100%; margin-top: 46px;}
.account-info07 .form-box{margin-top: 36px;}
.account-info07 .content input::placeholder{
    font-weight: 400; color: #6f6f6f; font-size: 1.4rem;}

/* account-info08 */
.account-info08 .form-box label span{color: #8b8b8b;}
.account-info08 .content input::placeholder{
    font-weight: 400; color: #6f6f6f; font-size: 1.4rem;}
.account-info08 .content >*:nth-last-child(3){margin-top: 36px}
.account-info08 .content >*:nth-last-child(2){margin-top: 30px}
